/* Para todo el documento */
* {
    font-family: "Nerko One", cursive;
    margin: auto;
    height: auto;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
}
body {
    background-color: #181818;
    width: 91%;
    border: grey 2px solid;
}

/* header */
header {
    background-color: #121212;
    padding: 20px;
    height: 30px;
}
.headder {
    display: inline-block;
    font-weight: bold;
    align-items: center;
    display: flex;
    background-color: #121212;
}

.titlelogo {
    background-color: #121212;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 26px;
}
.titlelogo {
    margin-top: -7px;
}

/* menu de navegacion*/
nav {
    display: flex;
    text-align: center;
    margin-top: -17px;
}
nav ul {
    display: inline-flex;
    background-color: #121212;
}
li {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
}
nav a {
    background-color: #121212;
    display: flex;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
    font-size: 26px;
}
nav a:hover {
    border-radius: 30px;
    color: #88b3c7;
    transform: scale(1.1);
}
.botonbuscar {
    position: relative;
}
.buscar {
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    outline: none;
    font-size: 15px;
    color: #121212;
    width: 50%;
}
#confbuscar {
    background-color: crimson;
    width: 50px;
    height: 41px;
    padding: 10px 15px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

/*seccion de bienvenida*/
.hero {
    position: relative; /* Necesario para posicionar el texto sobre la imagen */
    width: 100%;
    height: 400px; /* Ajusta la altura según la imagen */
    overflow: hidden; /* Oculta el contenido que se salga de la imagen */
}
.imghero {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor */
    display: block; /* Evita problemas de espaciado */
    opacity: 0.6;
    mask-image: linear-gradient(
        black 80%,
        transparent
    );
    
}
.text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    text-align: center; /* Centra el texto horizontalmente */
}
h1 {
    font-size: 50px;
}
.tecno {
    color: #72e1e9
}
h2, h4 {
    font-style: italic;
    font-size: 30px;
}
.contchange {
    position: absolute;
    height: 80px;
    line-height: 40px;
    overflow: hidden;
}
.change {
    animation: cambiar 8s infinite;
}
@keyframes cambiar {
    0% {margin-top: 0;}
    20% {margin-top: 0;}
    25% {margin-top: 0;}
    50% {margin-top: 0;}
    55% {margin-top: -80px;}
    80% {margin-top: -80px;}
    85% {margin-top: -80px;}
    95% {margin-top: -80px;}
    100% {margin-top: 0px;}
}

/* seccion sobre nosotros */
.sobrenosotros, .catalogo {
    height: auto;
    text-align: justify;
    padding: 20px;
    font-size: 30px;
}
h5 {
    text-align: center;
    margin-bottom: 20px;
}
h6 {
    padding: 20px;
    
}
.memoria {
    float: left;
    width: 25%;
}
.soft {
    float: left;
    width: 30%;
    margin-top: 25px;
}
.peluqueria {
    float: left;
    width: 40%;
    margin-top: 23px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 50px;
}
.peluq {
    margin-bottom: 160px;
}

/*seccion catalogo*/
.catnombre {
    margin-top: -25px;
    font-size: 30px;
}
.portadaCatalogos {
    display: inline-flex;
    margin: 20px 0 0 20px;
text-align: center;
}
.peliculas>img, .series>img, .animes>img, .muñes>img, .novelas>img {
    width: 90%;
    position: relative;
}
.peliculas>img, .series>img, .animes>img, .muñes>img, .novelas>img {
    transition: 0.5s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        -webkit-filter:brightness(2);
        filter: brightness(2);
    }
}



/*seccion de lo mas visto*/
.carousel {
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.auto-carousel {
    width: 60vw;
    position: relative;
    height: 20em;
    margin: 2em 0;
}
.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    width: 200%;
    height: 100%;
}
.slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}
.slide>img {
    height: 16em;
    width: 100%;
    object-fit: cover;
}
.image {
    transition: 0.5s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}